.cadastro {
  text-align: center;
}


.form{
  margin-top: -5px;
}

.cadastro p {
  color: #aaa;
}

.caixadeinput{
  width: 100%;
  padding: .8em 0;
}

label{
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
}

label span{
  margin-top: 5px;
}

.senha{
  margin-top: 4px;
}

.confirmesenha{
  margin-top: 4px;
}

.email{
  margin-top: 4px;
}

.corrigindo3{
  margin-top: 29px;
}